body{
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
}

.btn{
    margin: 1%;
}

.logo{
    font-weight: 600;
    margin-left: 2%;
}

.create-box{
    background-color: rgb(255, 255, 255,0.05);
    margin: 5%;
    padding: 20px;
}

.create-section{
    background-color: rgb(255, 255, 255,0.05);
    margin: 20px;
    padding: 20px;
}

.search{
    background-image: url("./image/img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;

    padding-top: 5vh;
}

.intro-text{
    font-size: 10vh;
    font-weight: 650;
    margin: 5%;
}

.search-text{
    font-size: 5vh;
}

.search-box{
    height: 5vh;
    width: 30vw;
    border: 3px solid;

    font-size: 3vh;
}

.resume{
    background-color: #121212;

    height: 100%;
    width: 100%;

    text-align: initial;

    position: fixed;
    top: 0;
    left: 0;

    transform: translateY(100%);

    overflow: scroll;
}

.prof-img{
    height: 480px;
    width: 240px;
    float: right;
    margin: 0 10%;
    border-radius: 5%;

    opacity: 0.01;

    transition: all 0.5s;
}

.prof-img:hover{
    height: 500px;
    width: 250px;
}

.r-name{
    color: rgb(71, 127, 199);
    font-size: 4rem;
    margin: 20px;

    margin-left: 45%;

    transition: all 0.5s;
}

.r-name:hover{
    color: rgb(123, 172, 235);
    font-size: 5rem;
}

.list{
    list-style-type: none;
    margin: 2.5rem;
    width: 60%;
    transform: translateX(-100%);
}


.list-title{
    color: teal;
    font-size: 3rem;
    transition: all 0.5s;
}

.list-title:hover{
    color: rgb(0, 255, 255);
    font-size: 4rem;
}

.list-item{
    color: rgb(122, 122, 122);
    font-size: 2rem;
    transition: all 0.5s;
}
.list-item{
    color:rgb(255, 254, 254);
    font-size: 2.5rem;
}

.btn-cls{
    margin-left: 50%;
}